@import '../App.scss';
.contact{
    background: $white;
    background-size: cover;
    height: 100vh;
    padding-top: 130px;
    padding-bottom: 300px;
    padding-left: 0px;
    padding-right: 0px;
}