@import '../App.scss';
.first{
    background-image: url('./assets/background2.jpg');
    background-size: cover;
    height: 100vh;
    padding-top: 130px;
    padding-bottom: 300px;
    padding-left: 0px;
    padding-right: 0px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.first:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}
.container-first{
    position: relative;
    margin-left: 5%;
}
.support-text{
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: 'Press Start 2P', cursive;
    font-size: 2vw;
    width: 60%;
    color:$white;
}
.name-container{
    background-color: $white;
    width: 41%;
}
.name-big{
    margin-left:2px;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
    font-size: 5vw;
    color:$purple;
}
.mini-text{
    font-family: 'Dosis', sans-serif;
    color:$white;
    font-size: 2vw;
    width: 42%;
}