@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Press+Start+2P&display=swap');

$white:#F8F8F8;
$purple:#7673E7;
$blueblack:#1c2237;

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  // font-family: 'Dosis', sans-serif;
  // font-family: 'Press Start 2P', cursive;
}


